@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>dankest.gq Playlists</title>
</head>
<body>
<div>
    Hello! This page will be added soon.
</div>
</body>
</html>