@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Hello! This page will be added soon.</title>
</head>
<body>
Hello! This page will be added soon.
</body>
</html>